###############################################################################
# EditorConfig is awesome: http://EditorConfig.org
###############################################################################

###############################################################################
# Top-most EditorConfig file
###############################################################################
root = true

###############################################################################
# Set default behavior to:
#   a UTF-8 encoding,
#   Unix-style line endings,
#   a newline ending the file,
#   4 space indentation, and
#   trimming of trailing whitespace
###############################################################################
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

###############################################################################
# Set file behavior to:
#   2 space indentation
###############################################################################
[*.{cmd,config,csproj,json,props,ps1,resx,sh,targets,yml}]
indent_size = 2

###############################################################################
# Set file behavior to:
#   Windows-style line endings, and
#   tabular indentation
###############################################################################
[*.sln]
end_of_line = crlf
indent_style = tab
